/* 全体 */

body {
	display: flex;
	flex-direction: column;
	background-color: black;
	color: white;
}

h1 {
	font-size: large;
	background-color: dimgray;
	padding: 5px 20px;
	border-radius: 5px;
}

.big-container {
	background-color: lightgray;
	margin: 5px;
	border-radius: 5px;
}

.small-container {
	background-color: gray;
	margin: 5px;
	border-radius: 5px;
}

/* ビデオ */

#videos-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.personal-video-container {
	width:32%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

video {
	transform: scaleX(-1);
	background: black;
	width: 100%;
	border-radius: 5px;
	/* filter: blur(1px); */
}

.emotion {
	color: yellow;
}

/* コントローラ */

#controller-container {
	/* height: 30%; */
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

#room-information-container {
	width: 50%;
	padding: 0px 20px;
}

#emotion-input-container {
	/* height: 100%; */
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#my-emotion {
	color: yellow;
}

#emotion-bar-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}

progress {
	width: 50%;
	height: 30px;
}

progress::-webkit-progress-bar {
	border-radius: 15px;
}

button:hover {
	opacity: 0.8;
}

#messages {
	height: 100px;
	overflow-y: scroll;
	border: 1px solid white;
}

/* デバイスのコントローラ */

#device-controllers-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.device-controller-container {
	width: 50%;
	padding: 5px 20px;
}